<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>THRESHY</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
        <link rel="stylesheet" href="./style/style.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    </head>
    <body>
        <div id="app">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="./">
                    <p><strong>THRESHY</strong><span> | Visualiser Tool</span></p>
                </a>
        
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="./">
                        Home
                    </a>
                    <a class="navbar-item" v-on:click="selectedScreen = 'about'">
                        About
                    </a>
                </div>
        
                <div class="navbar-end">
        
                </div>
            </div>
        </nav>
        <hr class="hr" style="margin-top: 0"/> 

        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li><a v-on:click="selectedScreen = 'about'" :class="{ 'is-active': selectedScreen == 'about' }">About</a></li>
                            <li><a v-on:click="selectedScreen = 'upload'" :class="{ 'is-active': selectedScreen == 'upload' || selectedScreen == 'settings' }">Prepare & Upload</a></li>
                            <li><a v-on:click="selectedScreen = 'visualise'" :class="{ 'is-active': selectedScreen == 'visualise' }">Visualise & Explore</a></li>
                            <li><a v-on:click="selectedScreen = 'cost'" :class="{ 'is-active': selectedScreen == 'cost' }">Add Costs</a></li>
                            <li><a v-on:click="selectedScreen = 'optimise'" :class="{ 'is-active': selectedScreen == 'optimise' }">Optimise</a></li>
                            <li><a v-on:click="selectedScreen = 'review'" :class="{ 'is-active': selectedScreen == 'review' }">Fine Tuning</a></li>
                            <li><a v-on:click="selectedScreen = 'export'" :class="{ 'is-active': selectedScreen == 'export' }">Review & Export</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    <about-screen @screen-change="onChangeScreen" v-if="selectedScreen == 'about'"></about-screen>
                    <upload-screen v-model="uploadScreenData" @screen-change="onChangeScreen" @new-metrics="onNewMetricResult" v-if="selectedScreen == 'upload'"></upload-screen>
                    <settings-screen v-model="uploadScreenData.settingsData" @screen-change="onChangeScreen" v-if="selectedScreen == 'settings'"></settings-screen>
                    <visualise-screen :metric-results="metricResults" @new-metrics="onNewMetricResult" @screen-change="onChangeScreen" v-if="selectedScreen == 'visualise'"></visualise-screen>
                    <costs-screen v-model="costScreenData" :results="metricResults" @new-costs="onNewCostResult" @screen-change="onChangeScreen" v-if="selectedScreen == 'cost'"></costs-screen>
                    <optimise-screen v-model="optimiseScreenData" @screen-change="onChangeScreen" v-if="selectedScreen == 'optimise'"></optimise-screen>
                    <review-screen :metric-results="metricResults" @new-metrics="onNewMetricResult" @new-costs="onNewCostResult" @screen-change="onChangeScreen" v-if="selectedScreen == 'review'"></review-screen>
                    <export-screen :metric-results="metricResults" :cost-results="costResults" @screen-change="onChangeScreen" v-if="selectedScreen == 'export'"></export-screen>
                </div>
            </div>
        </div>

        <!-- Import the custom Vue scripts -->
        <script type="text/javascript" src="./scripts/log.js"></script>
        <script type="text/javascript" src="./scripts/slider.js"></script>
        <script type="text/javascript" src="./scripts/confusion_matrix.js"></script>
        <script type="text/javascript" src="./scripts/screens/settings_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/upload_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/visualise_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/costs_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/optimise_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/review_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/export_screen.js"></script>
        <script type="text/javascript" src="./scripts/screens/about_screen.js"></script>

        <script type="text/javascript" src="./scripts/main.js"></script>
    </body>
</html> 